<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{ name }} </p>
  <p>Este é um e-mail de teste gerado com base em um template!</p>
  <p>Sinta-se a vontade para alterá-lo da maneira que achar melhor!</p>
  <br />
  <p>
    <strong>Obrigado!</strong>
  </p>
</div>